.hero {
  background-image: url("../images/bg__home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 240px 0px 207px 0px;
}
.hero__title {
  width: 648px;
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
  color: #f5f5f5;
}
.hero__btn {
  background: #03854d;
  border-radius: 100px;
  color: #fafafa;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
}
.hero__elems {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--c-text-white);
}
.text__white {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: var(--c-text-white);
  margin: 12px 0px 0px 0px;
  width: 30%;
}

.gray_header_elements {
  background: rgba(221, 221, 221, 0.4);
  border-radius: 100px;
  padding: 8px 12px;
  width: 65px;
  height: 38px;
}

.hero__bottom {
  width: 50%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hero__btn {
  color: #fff;
  padding: 10px 20px;
}

.hero__elems {
  display: flex;
  gap: 50px;
}
.exchanges {
  margin: 113px 0px;
}
.choice {
  border-radius: 40px;
  width: 1320px;
  background: var(--c-header-bg);
  margin: 145px 0px 0px 0px;
}
.choice__traiding {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: var(--c-text-gray);
  padding: 73px 278px 0px 0px;
  gap: 24px;
}
.gray_section2_elements {
  background: rgba(221, 221, 221, 0.4);
  border-radius: 100px;
  margin-right: 12px;
}
.title__traiding {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  color: #1b1b1b;
}
.traiding {
  margin: 73px 248px 112px 0px;
}
